# Track nur den aktuellen Projektstand, alles andere bleibt draußen.
# Standard: alles ignorieren ...
/*

# ... außer die Dateien, die in diesem Repository liegen sollen.
!.gitignore
!README.md
!RUN-WebTicker.sh
!TKB-WebTicker.html
!TKB-WebTicker-initial.py
!TKB-WebTicker.json
!TKB-WebTicker.py
!TKB-WebTicker-welldone.txt
!webticker_lib.py

# History-Verzeichnis komplett versionieren.
!History/
!History/**
